@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    border-bottom: 1px solid #0e1857;


}
body {
    font-family: 'Montserrat', sans-serif;
}


.container-wl img {
    width: 200px;
}

.container-wl {

    width: 90%;
    margin: 0 auto;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.tab-btns button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    transition: 0.3s;
    width: 23%;
    margin-bottom: 20px;
    margin-top: 20px;
 
}
#hotel #ViewChange {
    background-color: #0070e2;
    padding: 20px 10px;
    height: 30px;
    vertical-align: middle;
    width: fit-content;
    display: flex;
    align-items: center;
}
#hotel #ViewChange a {
    text-decoration: none;
    color: white;
}

.tab-btns button svg {
    fill: rgb(0, 68, 153);
}
.tab-btns button span {
    display: block;
    margin-bottom: 20px;
}

.tabs-btn {

    width: 90%;
    margin: 0 auto;
    display: flex;
    
}

#group {
    text-align: center;
}
#group p {
    margin-bottom: 10px;
    font-size: 20px;
}
#group .already-member a {
    color: #0070e2;
}

/* Change background color of buttons on hover */
.tab-btns button:hover {
    border: 2px solid rgb(7, 92, 179);
    border-radius: 5px;
}

/* Create an active/current tablink class */
.tab-btns button.active {
    background-color: rgb(232, 242, 255);
    border: 2px solid rgb(7, 92, 179);
    border-radius: 5px;
}

.tab-panel {
    display: none;
}

#SearchSection {
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.1.581001787.1676043719&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    padding-bottom: 30px;
}

#SearchSection .container {
    width: 50%;
    margin: 0 auto;
    margin-top: 32px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 24, 51);
    border-radius: 24px;
    padding: 20px;
    
    box-shadow: rgb(0 0 0 / 3%) 0px -1px 0px 0px, rgb(0 0 0 / 16%) 0px 2px 8px 0px, rgb(0 0 0 / 16%) 0px 10px 8px -5px, rgb(0 0 0 / 16%) 0px 12px 32px -2px;
}

#hotel #ViewChange {
    margin: 1rem 0;
    padding: 0 20px;
}

form input, form select {
    margin: 12px 0 30px 0;
    display: block;
    width: 100%;
    height: 56px;
    padding: 14px 12px 14px 20px;
    border: 1px solid rgb(192, 202, 213);
    border-radius: 12px;
    font-size: 14px;
}
form input:hover, form select:hover {
    border-color: #0070e2;
    border-width: 2px;
}
form input:focus, form select:focus {
    outline: 0;
    border-color: #0070e2;
    border-width: 2px;
}
.submit {
    background-color: rgb(7, 92, 179);
    width: 100%;
    height: 56px;
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 12px;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;
}

.submit:hover {
    transform: scale(1.02);
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px 0px, rgb(0 0 0 / 16%) 0px 10px 8px -5px, rgb(0 0 0 / 16%) 0px 12px 32px -2px;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(0, 68, 153);
    color: rgb(255, 255, 255);
}










.dateCalendar {
    position: absolute;
    z-index: 9000;
    left: 50%;
    top: 50%
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px
}

.ui-datepicker .ui-datepicker-next {
    right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%
}

.ui-datepicker table {
    width: 100%;
    font-size: .85em;
    border-collapse: collapse;
    margin: 0 0 .4em
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 700;
    border: 0
}

.ui-datepicker td {
    border: 0;
    padding: 1px
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em;
    width: auto;
    overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left
}

.ui-datepicker.ui-datepicker-multi {
    width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}

.ui-datepicker-rtl {
    direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #aaa;
    color: #222
}

.ui-widget-content a {
    color: #222
}

.ui-widget-header {
    border: 1px solid #aaa;
    color: #222;
    font-weight: 700
}

.ui-widget-header a {
    color: #222
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    border: 0;
    background: #fff
}

.ui-datepicker-title {
    text-align: center
}

.ui-datepicker-month {
    position: relative;
    color: #333;
    font-weight: strong;
    text-transform: uppercase
}

.ui-datepicker-year {
    color: #666;
    font-weight: 400
}

.ui-datepicker-calendar th {
    text-align: center;
    font-weight: 400;
    color: #a8a8a8
}

.ui-datepicker-calendar td {
    text-align: center
}

.ui-datepicker-calendar td.ui-state-disabled .ui-state-default {
    background: #fff !important
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    outline: none;
    text-decoration: none;
    color: #a8a8a8;
    border: 1px solid transparent;
    background: #f5f5f5
}

.ui-datepicker-calendar .ui-state-active {
    color: #f6861f;
    border-color: #f6861f;
    background: #fff
}

.ui-datepicker-calendar .ui-state-hover {
    color: #fff;
    border-color: #f6861f;
    background: #f6861f
}

.ui-datepicker-calendar .ui-state-highlight {
    font-weight: 700;
    border: 0;
    background: #fff;
    color: #666
}

.ui-datepicker-other-month .ui-state-default {
    color: #565656
}

.ui-datepicker-calendar td.dp-highlight a {
    color: #f6861f;
    border-color: #f6861f;
    background: #fff
}

.ui-datepicker-calendar td.dp-CheckInDate a {
    color: #fff;
    border-color: #f6861f;
    background: #f6861f;
    -webkit-border-top-left-radius: 20px !important;
    -webkit-border-bottom-left-radius: 20px !important;
    -moz-border-radius-topleft: 20px !important;
    -moz-border-radius-bottomleft: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important
}

.ui-datepicker-calendar td.dp-CheckOutDate a {
    color: #fff;
    border-color: #f6861f;
    background: #f6861f;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

div.ui-datepicker {
    font-size: 12px;
    display: block;
    position: relative;
    background-color: #fff;
    margin: 14px 0 0;
    padding: 10px;
    text-align: center;
    width: 180px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 8px 17px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 8px 17px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 8px 17px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: opacity .5s linear
}

#ui-datepicker-div {
    display: none
}

.ui-icon-circle-triangle-w {
    background: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

.ui-icon-circle-triangle-e {
    background: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    background: none;
    background-image: none
}

.ui-widget-header a {
    font-size: 14px;
    line-height: 20px;
    width: 20px !important;
    height: 20px !important;
    color: #f6861f;
    background: none;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    background: none;
    background-image: none
}

.ui-widget-header a:hover {
    background: #f6861f;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

.ui-datepicker-prev:after {
    content: '\25C4'
}

.ui-datepicker-next:after {
    content: '\25BA'
}

.MSIE8 div.dateCalendar .datepicker-popover-handle,
.MSIE7 div.dateCalendar .datepicker-popover-handle {
    display: none
}

.dateCalendar .datepicker-popover-handle {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    content: '';
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
    border: 1px 0 0 1px solid rgba(0, 0, 0, 0.25);
    height: 16px;
    width: 16px;
    background: #fff;
    margin: 6px;
    transition: opacity .5s linear;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 1px 0 0 1px;
    z-index: 99999
}

.datepicker-popover-handle-above .ui-datepicker {
    margin-bottom: 15px;
    margin-top: 0
}

.datepicker-popover-handle-above .datepicker-popover-handle {
    -webkit-transform: rotate(-135deg) !important;
    -moz-transform: rotate(-135deg) !important;
    -ms-transform: rotate(-135deg) !important;
    -o-transform: rotate(-135deg) !important;
    transform: rotate(-135deg) !important;
    position: absolute !important;
    top: auto !important;
    bottom: 1px !important
}

div.calendar-footer {
    min-height: 1.25em;
    padding-top: 6px;
    margin-top: 6px;
    color: #999;
    font-size: 10px;
    font-style: italic
}

a.closeDatepicker {
    font-style: normal;
    color: #999;
    cursor: pointer;
    display: block;
    padding: 1px 4px;
    border: 1px solid silver;
    background: #efefef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    right: 8px;
    bottom: 6px
}

td.dp-SelectedDate a.ui-state-default {
    color: #fff;
    border-color: #007eff;
    background: #007eff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

a.closeDatepicker:hover {
    background: orange;
    color: #fff;
    border: 1px solid orange
}

.dateCalendar.mobilecal {
    position: fixed !important;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(51, 51, 51, .75);
    height: 100%;
    margin: 0;
    padding: 0
}

.mobilecal div.ui-datepicker {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 70px auto;
    padding: 8px;
    font-size: 17px
}

.mobilecal .datepicker-popover-handle {
    display: none !important
}

.mobilecal div.calendar-footer {
    font-size: 18px
}

.mobilecal .ui-datepicker td {
    padding: 1px;
    font-size: 18px
}

.ipad .ui-datepicker td {
    padding: 1px;
    font-size: 14px
}

.ipad div.ui-datepicker {
    font-size: 14px
}

@media (min-width: 1100px) {

    table.ui-datepicker-calendar td,
    .ui-widget,
    .ui-datepicker.ui-datepicker-multi {
        font-family: helvetica, arial, sans-serif !important
    }

    .ui-datepicker td span,
    .ui-datepicker td a {
        text-align: center;
        padding: 8px;
        font-size: 15px
    }

    .ui-datepicker.ui-datepicker-multi {
        width: 620px !important
    }

    .ui-datepicker-calendar th {
        font-size: 12px;
        padding: 10px 0
    }

    div.calendar-footer {
        font-size: 13px
    }

    .ui-datepicker .ui-datepicker-title {
        font-size: 14px
    }
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
    top: 1px
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px
}

.ui-datepicker .ui-datepicker-next {
    right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%
}

.ui-datepicker table {
    width: 100%;
    font-size: .85em;
    border-collapse: collapse;
    margin: 0 0 .4em
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 700;
    border: 0
}

.ui-datepicker td {
    border: 0;
    padding: 1px
}

.ui-datepicker td a,
.ui-datepicker td span {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em;
    width: auto;
    overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left
}

.ui-datepicker.ui-datepicker-multi {
    width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}

.ui-datepicker-rtl {
    direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}

.ui-widget {
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget-content {
    color: #1b2d42;
    border: 0
}

.ui-widget-content a {
    color: #222
}

.ui-widget-header {
    border: 1px solid #aaa;
    color: #222;
    font-weight: 700
}

.ui-widget-header a {
    color: #222
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    border: 0;
    background: #fff
}

.ui-datepicker-title {
    text-align: center
}

.ui-datepicker-month {
    position: relative;
    color: #1b2d42;
    text-transform: uppercase
}

.ui-datepicker-year {
    font-style: inherit;
    color: inherit
}

.ui-datepicker-calendar th {
    text-align: center;
    font-weight: 400;
    color: #3c4859
}

.ui-datepicker-calendar td {
    text-align: center
}

.ui-datepicker-calendar td.ui-state-disabled .ui-state-default {
    background: #fff !important
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    outline: 0;
    text-decoration: none;
    color: #1b2d42;
    border: 1px solid transparent;
    background-color: transparent
}

.ui-datepicker-calendar .ui-state-active {
    color: #f6861f;
    border-color: #f6861f;
    background: #fff
}

.ui-datepicker-calendar .ui-datepicker-unselectable .ui-state-default {
    color: inherit
}

.ui-datepicker-calendar .ui-state-hover {
    color: #fff;
    border-color: #007eff;
    background: #007eff
}

.ui-datepicker-calendar .ui-state-highlight {
    font-weight: 700;
    border: 0;
    background: #fff;
    color: #666
}

.ui-datepicker-other-month .ui-state-default {
    color: #565656
}

.ui-datepicker-calendar td.dp-highlight a {
    color: #1b2d42;
    border-color: #eaf3ff;
    background: #eaf3ff;
    border-color: transparent
}

.ui-datepicker-calendar td.dp-CheckInDate a {
    color: #fff;
    border-color: #007eff;
    background: #007eff;
    -webkit-border-top-left-radius: 20px !important;
    -webkit-border-bottom-left-radius: 20px !important;
    -moz-border-radius-topleft: 20px !important;
    -moz-border-radius-bottomleft: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important
}

.ui-datepicker-calendar td.dp-CheckOutDate a {
    color: #fff;
    border-color: #007eff;
    background: #007eff;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

div.ui-datepicker {
    font-size: 12px;
    display: block;
    position: relative;
    background-color: #fff;
    margin: 14px 0 0;
    padding: 20px 25px;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 25px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 25px rgba(0, 0, 0, .35);
    opacity: 1;
    transition: opacity .5s linear
}

#ui-datepicker-div {
    display: none
}

.ui-icon-circle-triangle-w {
    background: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg)
}

.ui-icon-circle-triangle-e {
    background: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg)
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    background: 0 0;
    background-image: none
}

.ui-widget-header a {
    font-size: 14px;
    line-height: 20px;
    width: 20px !important;
    height: 20px !important;
    color: #007eff;
    background: 0 0;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    background: 0 0;
    background-image: none
}

.ui-widget-header a:hover {
    background: #007eff;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

.ui-datepicker-prev:after {
    content: '\25C4'
}

.ui-datepicker-next:after {
    content: '\25BA'
}

.MSIE7 div.dateCalendar .datepicker-popover-handle,
.MSIE8 div.dateCalendar .datepicker-popover-handle {
    display: none
}

.dateCalendar .datepicker-popover-handle {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    content: '';
    border-color: rgba(0, 0, 0, .25);
    border-style: solid;
    border: 1px 0 0 1px solid rgba(0, 0, 0, .25);
    height: 16px;
    width: 16px;
    background: #fff;
    margin: 6px;
    transition: opacity .5s linear;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 1px 0 0 1px;
    z-index: 99999
}

.datepicker-popover-handle-above .ui-datepicker {
    margin-bottom: 15px;
    margin-top: 0
}

.datepicker-popover-handle-above .datepicker-popover-handle {
    -webkit-transform: rotate(-135deg) !important;
    -moz-transform: rotate(-135deg) !important;
    -ms-transform: rotate(-135deg) !important;
    -o-transform: rotate(-135deg) !important;
    transform: rotate(-135deg) !important;
    position: absolute !important;
    top: auto !important;
    bottom: 1px !important
}

div.calendar-footer {
    min-height: 1.25em;
    padding-top: 6px;
    margin-top: 25px;
    color: #3c4859;
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase
}

a.closeDatepicker {
    font-style: normal;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background: #007eff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    bottom: 15px
}

td.dp-SelectedDate a.ui-state-default {
    color: #fff;
    border-color: #007eff;
    background: #007eff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

a.closeDatepicker:hover {
    background: #0070e2;
    color: #fff;
    border: 0
}

.dateCalendar.mobilecal {
    position: fixed !important;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(51, 51, 51, .75);
    height: 100%;
    margin: 0;
    padding: 0
}

.mobilecal div.ui-datepicker {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 70px auto;
    padding: 8px;
    font-size: 17px
}

.mobilecal .datepicker-popover-handle {
    display: none !important
}

.mobilecal div.calendar-footer {
    font-size: 18px
}

.mobilecal .ui-datepicker td {
    padding: 1px;
    font-size: 18px
}

.ipad .ui-datepicker td {
    padding: 1px;
    font-size: 14px
}

.ipad div.ui-datepicker {
    font-size: 14px
}

@media (min-width:1100px) {

    .ui-datepicker.ui-datepicker-multi,
    .ui-widget,
    table.ui-datepicker-calendar td {
        font-family: helvetica, arial, sans-serif !important
    }

    .ui-datepicker td a,
    .ui-datepicker td span {
        text-align: center;
        padding: 8px;
        font-size: 15px
    }

    .ui-datepicker.ui-datepicker-multi {
        width: 620px !important
    }

    .ui-datepicker-calendar th {
        font-size: 12px;
        padding: 10px 0
    }

    div.calendar-footer {
        font-size: 13px
    }

    .ui-datepicker .ui-datepicker-title {
        font-size: 14px
    }
}

td.ui-state-disabled {
    color: #c3c1c1
}

.header {
    width: 100%;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.service-container {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}


.service {
    overflow-y: hidden;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
    margin-bottom: 30px;
    transform-origin: center;
    transition: all ease-out 100ms;
}

.service:hover {
    transform: scale(1.1);
    background-color: #ccc;
}

.service-head {
    display: flex;
}

.service-text {
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 21px;
}

.service p {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 20px;
}

.service-icon {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.one {
    background-color: #023047;
}

.two {
    background-color: #219ebc;
}

.three {
    background-color: #8ecae6;
}

.four {
    background-color: #ffb703;
}

.five {
    background-color: #fb8500;
}

.six {
    background-color: #264653;
}

.seven {
    background-color: #3a86ff;
}

.service-topic {
    font-size: 32px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Libre Baskerville', serif;
}

svg {
    width: 25px;
    height: 25px;
    fill: white;
}

.main-area {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

}

.main-area-img {
    width: 45%;

}

.main-area-img img {
    width: 100%;
    height: 400px;
    border-top-right-radius: 50px;
}

.main-area-text {
    width: 50%;
    margin-top: 55px;
}

.main-area-text h2 {
    font-size: 32px;
}

.main-area-text p {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}

.main-area-text button {
    width: 60%;
    padding: 18px 0;
    background-color: rgb(0, 68, 153);
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all ease-out 100ms;
}

.main-area-text button:hover {
    background-color: white;
    border: 2px solid #023047;
    color: #023047;
}

.main-area-text button:focus {
    outline: 0;
}

.footer {
    background-color: rgb(7, 92, 179);
    padding: 30px 0;
    width: 100%;
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px;
}

.footer-container {
    visibility: visible;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer .cr {
    font-size: 18px;
    margin-bottom: 30px;
}

.socials svg {
    margin-bottom: 20px;
}
.footer img {
    width: 200px;
}
@media only screen and (max-width: 500px) {




    .services,
    .main-area {
        flex-direction: column;

    }

    .service,
    .main-area-img,
    .main-area-text {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-area-img {
        width: 100%;
    }

    .main-area-text button {
        width: 100%;
    }

    .main-area-text {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .socials {
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .tab-btns button svg {
        display: none;
    }
}

@media only screen and (max-width: 700px) {


    #SearchSection .container  {
        width: 90%;
    }
}